In [2]:
import pandas as pd

df = pd.read_csv('records.csv')
df.head(10)

,1,https://docs.google.com/forms/d/e/1FAIpQLScvig6pyHsBLgAgs0WXY2tm9xuZ0zMy84bnHEjeW-6zcLxknw/viewform?usp=pp_url&entry.2123034432=ae862298385abab2a0a1619f8cedef9d,PAGE_LOAD,NULL,OTHER,0,OTHER.1,1588994215395,OTHER.2,ae862298385abab2a0a1619f8cedef9d
0,2,https://docs.google.com/forms/d/e/1FAIpQLScvig...,PAGE_BLUR,NaN,OTHER,0.0,OTHER,1588994217989,OTHER,ae862298385abab2a0a1619f8cedef9d
1,3,https://worker.mturk.com/projects/354DQCRRIJZH...,TAB_CHANGE,NaN,MTURK,0.0,TASK_STARTED,1588994218051,WORKING,ae862298385abab2a0a1619f8cedef9d
2,4,https://docs.google.com/forms/d/e/1FAIpQLScvig...,PAGE_FOCUS,NaN,OTHER,0.0,OTHER,1588994221371,OTHER,ae862298385abab2a0a1619f8cedef9d
3,5,https://docs.google.com/forms/d/e/1FAIpQLScvig...,TAB_CHANGE,NaN,OTHER,0.0,OTHER,1588994221397,OTHER,ae862298385abab2a0a1619f8cedef9d
4,6,https://docs.google.com/forms/d/e/1FAIpQLScvig...,PAGE_CLICK,NaN,OTHER,0.0,OTHER,1588994222607,OTHER,ae862298385abab2a0a1619f8cedef9d
5,7,https://docs.google.com/forms/d/e/1FAIpQLScvig...,PAGE_SCROLL,NaN,OTHER,0.0,OTHER,1588994223316,OTHER,ae862298385abab2a0a1619f8cedef9d
6,8,https://docs.google.com/forms/d/e/1FAIpQLScvig...,PAGE_LAST,NaN,OTHER,0.0,OTHER,1588994223667,OTHER,ae862298385abab2a0a1619f8cedef9d
7,9,https://docs.google.com/forms/d/e/1FAIpQLScvig...,PAGE_CLOSE,NaN,OTHER,0.0,OTHER,1588994225242,OTHER,ae862298385abab2a0a1619f8cedef9d
8,10,https://docs.google.com/forms/d/e/1FAIpQLScvig...,PAGE_CLICK,NaN,OTHER,0.0,OTHER,1588994225243,OTHER,ae862298385abab2a0a1619f8cedef9d
9,11,https://docs.google.com/forms/u/0/d/e/1FAIpQLS...,PAGE_LOAD,NaN,OTHER,0.0,OTHER,1588994226313,OTHER,ae862298385abab2a0a1619f8cedef9d

In [14]:
df.describe()

                  1             0  1588994215395
count  3.496373e+06  3.496372e+06   3.496373e+06
mean   1.748189e+06  3.607402e-01   1.589527e+12
std    1.009316e+06  4.802153e-01   2.204811e+08
min    2.000000e+00  0.000000e+00   1.588994e+12
25%    8.740960e+05  0.000000e+00   1.589365e+12
50%    1.748189e+06  0.000000e+00   1.589508e+12
75%    2.622282e+06  1.000000e+00   1.589674e+12
max    3.496375e+06  1.000000e+00   1.590165e+12

In [5]:
print(df.shape)

(3496373, 10)

In [13]:
df.dtypes

1                                                                                                                                                                     int64
https://docs.google.com/forms/d/e/1FAIpQLScvig6pyHsBLgAgs0WXY2tm9xuZ0zMy84bnHEjeW-6zcLxknw/viewform?usp=pp_url&entry.2123034432=ae862298385abab2a0a1619f8cedef9d     object
PAGE_LOAD                                                                                                                                                            object
NULL                                                                                                                                                                 object
OTHER                                                                                                                                                                object
0                                                                                                                                                                   float64
OTHER.1                                                                                                                                                              object
1588994215395                                                                                                                                                         int64
OTHER.2                                                                                                                                                              object
ae862298385abab2a0a1619f8cedef9d                                                                                                                                     object
dtype: object

In [15]:
print(df["PAGE_LOAD"].value_counts())

PAGE_LOAD
PAGE_LOAD                  541844
PAGE_FOCUS                 463696
PAGE_BLUR                  438607
TAB_CHANGE                 362619
PAGE_CLOSE                 347230
PAGE_LAST                  326556
PAGE_CLICK                 259670
INTERNALURL                200956
PAGE_SCROLL                197553
EXTERNALURL                116734
PAGE_INACTIVITY            116497
TAB_CLOSED                  59314
PAGE_KEY                    39959
PAGE_REACTIVATE             21985
SYSTEM_ENABLED               1970
SYSTEM_DISABLED_WORKING       486
SYSTEM_DISABLED               460
SYSTEM_ENABLED_WORKING        237
Name: count, dtype: int64

In [16]:
print(df["ae862298385abab2a0a1619f8cedef9d"].value_counts())

ae862298385abab2a0a1619f8cedef9d
f2687f9a5c9a26cc8936b2d93be8ec8     229349
93c4b02efd6dd4e0f7a9a3d3a6466670    187600
c137b2a837ec10c59778c65338d882      105995
1fbbe51c2b7814f7810188ddc19f4ed     102244
dc79c0907046d4df5ca45b213681dc98     98180
                                     ...
99bce524fe0a27863aba87f905e34d6         48
612d686264ac53a67ba88dec91238837        34
b5437f47f866feced73d66ff3db3e4          24
c11a1f6f688f48c521d071ae29570e6         12
0                                        3
Name: count, Length: 119, dtype: int64